<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <div class='media-body'>
    <small>
      <% if current_user && !comment.body.nil? %>
       |<%= link_to "Delete", [comment.product, comment], method: :delete, remote: true %> 
      <% end %> 
    </small>
    <p><%= comment.body %></p>
  </div>
<% end %>