<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="text-center">Editing comment</h3>
    <textarea class="form-control" id="comment_body" name="comment[body]" rows="4"><span></span></textarea>
    <%= render :partial => 'formtwo', locals: { category: @category, product: @product, comment: @comment }  %>
 </div>
</div>