<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), class: 'fb-button' do%>
    <%= fa_icon "facebook-square" %>
    <span> Sign in with Facebook </span>
    <% end %>
    <br />
  <% end -%>
<% end -%>

<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end -%>


