 <section>
      <header>
          <form action="#" class="farm" method="get">
            <div class='mable' >
               <input autocomplete="off" class="autocomplete" id="m" placeholder=" Search Users, Categories, and Products" type="text" spellcheck="false" />
            </div>
          </form>
      </header>
    </section>

    <script type="text/javascript">
       function searchMultiCallback(success, content) {
          if (success) {
            var categories = content.results[0];
             var html = '';
             html += '<p class="ats">' + "Categories" + '</p>';
            for (var i = 0; i < categories.hits.length; ++i) {
               var hit = categories.hits[i];
               html += '<div class="hits">';
          for (var propertyName in hit._highlightResult) {
            var el = hit._highlightResult[propertyName];
            if (Object.prototype.toString.call(el) !== '[object Array]' && el.matchLevel !== 'none') {
              html += '<a class="linkal" href="/categories/'+ hit.slug+'"><div class="attribute">' + hit.title +"</div></a>";
            }
          }
          html += '</div>';
           $('#categories').html(html);
            }

            var users = content.results[1];
             var html = '';
              html += '<p class="ats">' + "Products" + '</p>';
            for (var i = 0; i < users.hits.length; ++i) {
                  var hit = users.hits[i];
               html += '<div class="hits">';
          for (var propertyName in hit._highlightResult) {
            var el = hit._highlightResult[propertyName];
            if (Object.prototype.toString.call(el) !== '[object Array]' && el.matchLevel !== 'none') {
            html += '<div class="attribute"><a class="linkal" href="/categories/'+hit.category_id+'/products/'+ hit.slug+'"><img alt="User" class="bo" src="https://upveil-production.s3.amazonaws.com/uploads/product/image/'+hit.id+'/thumb_'+hit.image+'"><p class="z">' + hit.title +"</p></a></div>";
            }
          }
          html += '</div>';
           $('#posts').html(html);
            }

            var products = content.results[2];
             var html = '';
             html += '<p class="ats">' + "Users" + '</p>';
            for (var i = 0; i < products.hits.length; ++i) {
             var hit = products.hits[i];
               html += '<div class="hits">';
          for (var propertyName in hit._highlightResult) {
            var el = hit._highlightResult[propertyName];
            if (Object.prototype.toString.call(el) !== '[object Array]' && el.matchLevel !== 'none') {
              html += '<a class="linkal" href="/users/'+ hit.slug+'"><div class="attribute"><img alt="User" class="bo" src="'+hit.image+'"><p class="z">' + hit.name +"</p></div></a>";
            }
          }
          html += '</div>';
           $('#users').html(html);
            }
          }
        }
      $(document).ready(function() {
        var $inputfield = $("#m");
        // Replace the following values by your ApplicationID and ApiKey.
       var client = new AlgoliaSearch("4ISPEJF56E", "086c50ff6f93920fb5ea7f2a5845972a");
        // Replace the following value by the name of the index you want to query.
        $inputfield.keyup(function() {
        client.startQueriesBatch();
        client.addQueryInBatch('Category', $('#m').val(), { hitsPerPage: 10 });
        client.addQueryInBatch('Product', $('#m').val(), { hitsPerPage: 10 });
        client.addQueryInBatch('User', $('#m').val(), { hitsPerPage: 10 });
        client.sendQueriesBatch(searchMultiCallback);
      }).focus().closest('form').on('submit', function() {
          // on form submit, store the query string in the anchor
          location.replace('#m=' + encodeURIComponent($inputfield.val()));
          return false;
        });
        // check if there is a query in the anchor: http://example.org/#q=my+query
        if (location.hash && location.hash.indexOf('#m=') === 0) {
          var q = decodeURIComponent(location.hash.substring(3));
          $inputfield.val(q).trigger('keyup');
        }
      });
    </script> 