<h1>New Product</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for products</p>
     <ul>
       <li>Have a link.</li>
       <li>Have an image.</li>
       <li>Have the price.</li>
     </ul>
   </div>
   <div class="col-md-8">

    <%= render partial: 'products/form', locals: {product: @product} %>

   </div>
 </div>