<h1>New Product</h1>
 
  <div class="col-md-5">
     <p><b>Requirments for Products</b></p>
     <ul class="requirments">
       <li>Must have a category.</li>
       <li>Must have a subcategory.</li>
       <li>Must have an image.</li>
       <li>Must have the price.</li>
       <li>Must have a title.</li>
       <li>Must have a link of where to buy.</li>
       <li>Fashion must have a gender</li>
     </ul>
   </div>
   <div class="col-md-7">

    <%= render partial: 'products/form', locals: {product: @product} %>

   </div>
 </div>