
<div class="container">
       <div class="boxsearch" style="">
      <div id="categories" class="col-md-3 pull-left"></div>
      <div id="users" class="col-md-5 pull-right pod"></div>
      <div id="posts" class="col-md-4 pod"></div>
    </div>
<h2 class="text-center logger">Log in</h2>

<span class="text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 

<%= render "devise/shared/links" %>
</span>

<% end %>
</div>