<h2 class="text-center logger">Log in</h2>

<span class="text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 

<%= render "devise/shared/links" %>
</span>

<% end %>