
<span class="samller pull-left helvetica"><%= image_tag(activity.owner.identity.smallimage)%></span>
                          <span>
                            <% if activity.owner == current_user %>
                             <b> You</b>
                             <% else %>
                         <b><%= activity.owner.name %></b>
                         <% end %>
                          </span>
    replied to your
  <% if activity.trackable %>
    <b>Comment</b>
  <% else %>
    a post which has since been removed
  <% end %>