<% if @parent.nil? %>
  <% if @category.title == "Fashion" %>

    <div class="show-box newer females" id="products">
      <div class="page">
      <% @femaleproducts.each do |product| %>
       <%= render product %>
       <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <% if @subcatparent.title == "Fashion"  %>
    <div class="show-box females newer" id="products">
          <div class="page">
          <% @femaleproducts.each do |product| %>
         <%= render product %>
         <% end %>
          </div>
        </div>
      <% end %>
    <% end %>   
    <%= paginate @femaleproducts %>  