 <% if @parent.nil? %>
  <% if @category.title == "Fashion" %>

    <div class="show_box newer males" id="products">
      <div class="page">
      <% @maleproducts.each do |product| %>
         <%= render product %>
         <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <% if @subcatparent.title == "Fashion"  %>
     <div class="show_box males newer" id="products">
          <div class="page">
        <% @maleproducts.each do |product| %>
           <%= render product %>
           <% end %>
         </div>
        </div>
     <% end %>
    <% end %> 
    <%= paginate @maleproducts %>  