<%= link_to "Look by Newest",  category_female_newest_path(@category), class: 'btn btn-xs btn-primary mobile-button hay' %>
<%= render partial: 'femaleheader' %>


    <div class="show-box newer" id="products"> 
      <div class="page">
      <% @products.all.each do |product| %>
       <%= render product %>
       <% end %>
      </div>
    </div>

 

  <%= paginate @products %>
    