
<%= render partial: 'femaleheader' %>


    <div class="show-box" id="products">
        <div class="page">
        <% @unscope.each do |product| %>
           <%= render product %>
          <% end %>
          </div>
      </div>


     <%= paginate @unscope %>