<%= link_to "Look by Hottest",  category_female_path(@category), class: 'btn btn-xs btn-primary hay mobile-button' %>
<%= render partial: 'femaleheader' %>


    <div class="show-box" id="products">
        <div class="page">
        <% @unscope.each do |product| %>
           <%= render product %>
          <% end %>
          </div>
      </div>


     <%= paginate @unscope %>