<div class="container">
<h1>New category</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidlines for categories:</p>
    <ul>
      <li>Make sure there is a title.</li>
      <li>As a creator you can delete bad posts on your category.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: {category: @category }%>
  </div>
  </div>