<%= render partial: 'header' %>





    <div class="show-box newer" id="products"> 
      <div class="page">
      <% @products.all.each do |product| %>
       <%= render product %>
       <% end %>
      </div>
    </div>

 

  <%= paginate @products %>
    </div>
    </div>