<h1>Notifications</h1>

<% @cactivities.each do |activity| %>
<div>
    <%= link_to activity.owner do %>
    <%= image_tag(activity.owner.identity.smallimage)%>
    <%= activity.owner.name %>
    <% end %>
    <%= render_activity activity %>
</div>

<% end %>