<h1 class="text-center">Notifications</h1>
<% if @cactivities.first %>
<% @cactivities.each do |activity| %>
<%= link_to activity.trackable, class: 'ununder' do%>
<div class="lil">
    <%= render_activity activity %>
</div>
<% end %>
<% end %>
<%else %>
<p class="text-center"> You have no notifications post a product and if its good you will get some! </p>
<p class="text-center smale">Notifications are given when someone upvotes or clicks buy here on your product</p>
<%end %> 