
    <h1 class="h3 text-center">All<br><p class="h6">The Newest and Best Products</p></h1>
    <%= link_to "New Product", new_product_path(@product), class: 'btn btn-success btn-xs pull-right to-right' %>
   
  <div class="show_box">
     <%= render @products %>
  </div>